{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<style>
    .google-login-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #8072e9;
        border: 1px solid #db4437;
        color: #fbfbfb;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    .google-login-btn img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .google-login-btn:hover {
        background-color: lch(35.8% 97.79 303.5);
        color: #ffffff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
{% endblock %}

{% block content %}
<div class="login-container">
    <a href="/accounts/google/login/" class="google-login-btn">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Logo_2013_Google.png" alt="Google Logo">
        Sign in with Google
    </a>
</div>
{% endblock %}
